<p id="notice"><%= notice %></p>

<p>
  <strong>Latitud:</strong>
  <%= @farmacium.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @farmacium.longitud %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @farmacium.nombre %>
</p>

<p>
  <strong>Letra:</strong>
  <%= @farmacium.letra %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @farmacium.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @farmacium.telefono %>
</p>

<p>
  <strong>Urlmaps:</strong>
  <%= @farmacium.urlMaps %>
</p>

<p>
  <strong>Urlweb:</strong>
  <%= @farmacium.urlWeb %>
</p>

<p>
  <strong>Coords:</strong>
  <%= @farmacium.coords %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @farmacium.horario %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @farmacium.observaciones %>
</p>

<%= link_to 'Edit', edit_farmacium_path(@farmacium) %> |
<%= link_to 'Back', farmacia_path %>
