<% @farmacia.each do |x| %>

      <p>nombre:<%= x.nombre %></p>
      <p>id:<%= x.id %></p>
      <p>coord :<%= x.coordenadas %></p>
      <p>Latitud :<%= x.latitud %></p>
      <p>Longitud :<%= x.longitud %></p>
    </div>
  <% end %>
