<%= form_for @farmacia, url: prueba_create_path do |f| %>
  <p>
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </p>

  <p>
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
